h1{
    color: rgb(218, 218, 218);
    text-align: center;
}

.header{
    background-color: rgb(16, 16, 100);
}

.menu{
    background-color: rgb(255, 206, 133);
    text-align: center;
}

